= nested_form_for [@subsection, @question], html: { class: 'form-horizontal' } do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :subsection_id
  = form_element f, :prompt, :text_area, nil, rows: 5, placeholder: "Enter question here."
  = form_element f, :multiple_choice, :check_box, nil, checked: ('checked' if @question.multiple_choice.nil? || @question.multiple_choice)
  - clazz = "free-answer"
  - clazz += " hid" if (@question.multiple_choice.nil? || @question.multiple_choice)
  %div{class: clazz}
    .control-group.field
      = f.label :answer_prefix, class: 'control-label'
      .controls
        = f.text_field :answer_prefix
    .control-group.field
      = f.label :free_answer, class: 'control-label'
      .controls
        = f.text_field :free_answer 
    .control-group.field
      = f.label :answer_suffix, class: 'control-label'
      .controls
        = f.text_field :answer_suffix

  = f.fields_for :answers do |a_form|
    .answer-field
      .field.control-group
        = a_form.label :correct, class: 'control-label'
        .controls
          = a_form.check_box :correct
      .field.control-group
        = a_form.label :answer, class: 'control-label'
        .controls
          = a_form.text_field :answer, class: 'input-xxlarge'
      %br
      = a_form.link_to_remove "Remove this Answer"
  = f.link_to_add("Add a multiple choice answer", :answers, class: 'add-answer') unless @question.multiple_choice == false
  .actions
    = f.submit 'Save Question', class: 'btn btn-primary'

.well
  = @subsection.body.html_safe

- content_for :sidebar do
  = render partial: 'subsections/sidebar', locals: { subsection: @subsection }
