%h2
  Quiz for
  = link_to @subsection.title, @subsection
  %span.dark-gray= percent_complete_subsection(@subsection)

%ul.listy
  - @questions.each do |question|
    %li
      %p.big
        - if correct? question
          = bs_icon(:ok)
        = link_to question.prompt.html_safe_sanitized, subsection_question_path(subsection_id: @subsection.id, id: question.id)
        - if taught? @subsection.course
          %br
          = link_to bs_icon(:edit), edit_subsection_question_path(subsection_id: question.subsection_id, id: question.id)
          = link_to bs_icon(:plus), copy_question_path(id: question.id)
          = link_to bs_icon(:trash), subsection_question_path(subsection_id: @subsection.id, id: question.id), method: :delete, confirm: "Are you sure you want to delete this question?"