.row.marketing
  - if logged_in?
    %h1 I Want to Learn About...
    - new_wish = Wish.new(user_id: current_user.id)
    = form_for new_wish, html: {class: 'form-horizontal big-wish'} do |f|
      = f.hidden_field :user_id
      %br
      = f.text_field :title, class: 'input-xxlarge', placeholder: 'Yoga, Electronics, Economics...'
      %br
      %br
      = f.submit "Make a Wish", class: 'btn btn-large btn-success'

  - else
    %h1 Create an Account to Request a Course
    %br
    %br
    = link_to "Sign Up", new_user_path, class: 'btn btn-large btn-success'

.break

.row.marketing
  %h2 Requested Courses

%table.table.row.marketing#wishes
  %tbody
    - @wishes.each do |wish|
      %tr
        %td.span1
          - if voted? wish
            = icon(:star)
          - else
            = link_to icon('arrow-up'), wish_votes_path(wish_id: wish.id), method: 'post'
        %td.wish_title.span5= link_to wish.title, wish
        %td.span2
          = wish.voted_users.count
          = icon(:user)
          = wish.comments.count
          = icon('list-alt')



  