%br
%br
.row
  .span6.offset3
    .well
      %h4 Login to Uludum
      = form_tag sessions_path, id: 'login-form'  do
        = hidden_field_tag :return_to, params[:return_to]
        = text_field_tag :login, params[:login], placeholder: "Username or Email Address", autofocus: true
        %br
        = password_field_tag :password, nil, placeholder: "Password"
        %p
          = submit_tag "Log in", class: 'btn btn-primary'
    %p
      Don't have an account?
      = link_to "Sign up!", signup_path(return_to: params[:return_to])