%p
  = link_to @order.user.username, user_url(@order.user)
  just created a new order for
  %b
    = succeed "." do
      = link_to @order.orderable.title, polymorphic_url(@order.orderable)
%p
  You will receive another email when their payment for
  %b= number_to_currency(@order.price)
  is complete.

- if @order.orderable.class == Fund
  - fund = @order.orderable
  %p
    You've now raised
    %b= number_to_currency(fund.progress)
    out of
    %b
      = succeed "." do
        = number_to_currency(fund.goal)
  %p
    Your fund ends in 
    %b
      = succeed "." do
        = fund.time_ending
