
= form_for @subsection do |f|
  - if @subsection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subsection.errors.count, "error")} prohibited this subsection from being saved:"
      %ul
        - @subsection.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :section_id
  = form_element f, :title, :text_field, nil, class: 'input-xlarge'
  = form_element f, :body, :text_area, nil
  .actions
    = f.submit 'Save', class: 'btn'

%br