- content_for :sidebar do
  %li.nav-header Current Course
  %li= link_to subsection.course.title.titleize, course_path(subsection.course), class: 'white'
  = sidebar_list @subsection.course.sections, @subsection.section
  = sidebar_list @subsection.section.subsections, @subsection
  %br
  %li= link_to "Message Board", polymorphic_path([@subsection.course, Discussion])
  - if enrolled? @subsection.course, current_user
    %li= link_to "Download E-Book", course_epub_path(course_id: @subsection.course_id)
  - if can? :manage, @subsection
    %li.active.bottom= link_to "New Subsection", new_section_subsection_path(subsection.section)