%h1 Listing subsections

%table
  %tr
    %th Section
    %th Course
    %th Title
    %th Body
    %th
    %th
    %th

  - @subsections.each do |subsection|
    %tr
      %td= subsection.section_id
      %td= subsection.course_id
      %td= subsection.title
      %td= subsection.body
      %td= link_to 'Show', subsection
      %td= link_to 'Edit', edit_subsection_path(subsection)
      %td= link_to 'Destroy', subsection, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Subsection', new_subsection_path
