%h1= @subsection.title
%p
  Last Updated
  = time_ago_in_words(@subsection.updated_at.to_time)
  ago

.break

= @subsection.body.html_safe

.break

- if @subsection.has_quiz?
  - @questions ||= @subsection.questions
  = render partial: "questions/index"
- else
  - if complete? @subsection
    %h5 Completed
  - else
    %h5= link_to 'Mark this as Complete', complete_path(subsection_id: @subsection.id), class: 'btn btn-success'

.break

.btn-group
  = link_to("Previous Subsection", @subsection.higher_item, class: 'btn') if @subsection.higher_item
  = link_to "Back to #{@subsection.section.title}", section_path(@subsection.section), class: 'btn'
  = link_to("Next Subsection", @subsection.higher_item, class: 'btn') if @subsection.higher_item

- if can? :manage, @subsection.course
  .break
  %h4 Admin Actions
  .btn-group
    = link_to "Update", edit_subsection_path(@subsection), class: 'btn'
    = link_to "Add a Question", new_subsection_question_path(@subsection), class: 'btn'
  .break

- if Rails.env.development?
  = debug @subsection.completions
  .well= @subsection.complete? (current_user)


- content_for :sidebar do
  = render partial: 'subsections/sidebar', locals: { subsection: @subsection }