%h1= @subsection.title

= @subsection.body.html_safe
.break
- if @subsection.has_quiz?
  = link_to "Quiz for #{@subsection.title}", subsection_questions_path(@subsection), class: 'btn'
  = percent_complete_subsection(@subsection) if logged_in?
- else
  - if complete? @subsection
    %h5 Completed
  - else
    %h5= link_to 'Complete', complete_path(subsection_id: @subsection.id), class: 'btn'
  - if taught? @subsection.course
    = link_to "Quiz for #{@subsection.title}", subsection_questions_path(@subsection), class: 'btn'


%br
%br

- content_for :sidebar do
  = render partial: 'sidebar', locals: { subsection: @subsection }

- if taught? @subsection.course
  = link_to 'Edit', edit_subsection_path(@subsection)
  \|
= link_to 'Back', subsections_path