- if current_user.stripe_customer_id.nil?# || Rails.env.development?
  %p You must setup your credit card information to pay with credit card.
- else
  - begin
    - card = Stripe::Customer.retrieve(current_user.stripe_customer_id).as_json["active_card"]
    %p You have already configured your credit card information.
    %dl.big.well.dl-horizontal
      %h4 Your Card Information
      %dt Last 4 Digits
      %dd= card["last4"]
      %dt Name on Card
      %dd= card["name"]
      %dt Card Type
      %dd= card["type"]
      %dt Expiration
      %dd== #{card["exp_month"]} / #{card["exp_year"]}
  - rescue
    %p We couldn't retreive your credit card information. Please add it again:
  - if request.path != payment_path
    %p
      Update your credit card information on your
      = link_to "payments page.", payment_path
- unless @order && current_user.stripe_customer_id
  = form_tag prefill_user_path, class: 'form-horizontal', method: :get do
    = hidden_field_tag :return_to, request.path
    = render partial: "orders/form"