= form_for @user, html: {class: 'form form-horizontal'} do |f|
  = f.error_messages

  %p.file-success
  .field.control-group
    = f.label :avatar_url, "Avatar", class: 'control-label'
    .controls
      - clazz = ''
      - clazz = 'hidden' unless @user.avatar_url
      %div{class: clazz}
        .user-avatar.pull-left= filepicker_image_tag @user.avatar_url, h: 120
      = f.filepicker_field :avatar_url, button_class: 'btn', onchange: 'pickAvatar(event)', mimetype: 'image/*', button_text: "Choose Avatar"

  = form_element f, :about_me, :text_area, nil, placeholder: "I want to learn about _____ to _____ ...", class: 'wysihtml5'
  = form_element f, :teacher_description, :text_area, nil, placeholder: "About yourself as a teacher. This will be shown on all courses you teach.", class: 'wysihtml5'
  = form_element f, :show_email, :check_box, "Display my email publicly"
  = form_element f, :bitcoin_address, :text_field, "Bitcoin Address (for receiving payments)"
  .break
  %h2 Change Your Password
  = form_element f, :password, :password_field
  = form_element f, :password_confirmation, :password_field, "Confirm Password"
  .field.control-group
    = f.submit (@user.new_record? ? "Sign up" : "Update"), class: 'btn btn-success'
  = f.hidden_field :return_to, value: params[:return_to]