.row
  .span10.offset1
    %h1 Configure Payment Information
    %h3 Sending Payments
    = render partial: "card_info"
    .break
    %h3 Receiving Payments
    - if current_user.stripe_key.nil?
      %p
        In order to get paid from funds or courses, you must setup an account with
        = succeed "," do
          = link_to "Stripe", "https://stripe.com"
        our payment processor.

      %p
        = link_to "Connect with Stripe", stripe_connect_path, class: 'btn btn-large btn-primary'
    - else
      - begin
        - account = Stripe::Account.retrieve(current_user.stripe_key).as_json
        %p You have successfully set up your payment information. You can receive payments for funds and courses.
        %h4 Your Stripe Information
        %dl.well.big.dl-horizontal
          - account.each do |k,v|
            %dt= k
            %dd= v
        = link_to "Update Stripe Information", stripe_connect_path, class: 'btn btn-large btn-primary'
      - rescue
        %p We weren't able to retrieve your Stripe account. Please reconnect:

        %p
          = link_to "Connect with Stripe", stripe_connect_path, class: 'btn btn-large btn-primary'