.row
  .span10.offset1
    %h1
      = avatar_tag @user, height: 40, width: 40
      = @user.username
      (
      = @user.points
      )

    %h3= link_to(@user.email, "mailto:#{@user.email}") if @user.show_email || can?(:manage, @user)

    %p.small= @user.created_at_in_words
    %p.small= ("Last logged in #{time_ago_in_words(@user.last_login)} ago") if @user.last_login

    - unless @user.teacher_description.blank?
      .break
      %h3== #{@user.username}'s Teacher Description
      %p.big= @user.teacher_description.html_safe

    .break

    %h3 About Me
    %p.big
      - if !@user.about_me.blank?
        = @user.about_me.html_safe
      - else
        %em This user has not set up any information about them.

      - if can? :edit, @user
        %br
        = link_to "Update Your Profile", edit_user_path(@user), class: 'btn btn-success'

    - if @user.courses.visible.count > 0
      .break
      %h3
        Taught Courses
        == (#{@user.courses.visible.count})
      %ul
        - @user.courses.visible.sort{|a,b| b.questions.count <=> a.questions.count}.each do |course|
          %li.big.user-list
            = link_to course.title, course
            - if course.category
              %span.small{style: "margin-left: 10px;"}
                in
                = link_to course.category.name.titleize, category_courses_path(course.category)

    - unless @user.enrolled_courses.empty?
      .break
      %h3
        Enrolled Courses
        == (#{@user.enrolled_in.count})
      %ul
        - @user.enrolled_in.sort{|a,b| b.percent_complete(@user) <=> a.percent_complete(@user)}.each do |course|
          %li.big.user-list
            %strong= course.percent_complete(@user).to_s + "%"
            = link_to course.title, course
            %span.small{style: "margin-left: 10px;"}
              in
              = link_to course.category.name.titleize, category_courses_path(course.category) if course.category
              - if can? :manage, @user
                = link_to icon(:remove), enrollment_path(@user.enrollment_in(course).id), method: :delete, confirm: "This will unenroll you from #{course.title}. Are you sure you want to continue?", title: "unenroll"
    - unless @user.funds.empty?
      .break
      %h3= pluralize(@user.funds.count, "fund")
      %ul
        - @user.funds.each do |f|
          %li.big.user-list
            %strong= link_to f.title, f
