%h2= @section.title

%h4
  in
  = link_to @section.course.title, @section.course
  by
  = link_to @section.course.teacher.username, @section.course.teacher

.break
%h2 Subsections
= render partial: 'layouts/list', locals: { list: @section.subsections }


- content_for :sidebar do
  %li.nav-header Current Course
  %li= link_to @section.course.title, @section.course, class: 'white'
  %li.divide
    %a
  %li.nav-header Sections
  - @section.course.sections.each do |section|
    - title = section.title
    - title = icon(:ok) + " " + title if complete?(section)
    %li= link_to title, section, class: "#{section.id == @section.id ? 'light-purple' : 'white'}"
  %li.divide
    %a
  %li.nav-header Subsections
  - @section.subsections.each do |s|
    %li= link_to s.title, s, class: 'white'
  %li.divide
    %a
  %br
  %li= link_to "New Subsection", new_section_subsection_path(@section), class: 'light-purple'
