%h2= @section.title

%h4
  in
  = link_to @section.course.title, @section.course
  by
  = link_to @section.course.teacher.username, @section.course.teacher
  

.break
%h2 Subsections
= render partial: 'layouts/list', locals: { list: @section.subsections }

- if can? :manage, @section
  .break
  %h4 Admin Actions
  .btn-group
    = link_to 'Edit', edit_section_path(@section), class: 'btn'
    = link_to 'Delete', section_path(@section), method: :delete, confirm: "Are you sure? This will delete all subsections for this section.", class: 'btn'
  .break


- content_for :sidebar do
  %li.nav-header Current Course
  %li= link_to @section.course.title, @section.course, class: 'white'
  = sidebar_list @section.course.sections, @section
  = sidebar_list @section.subsections
  %br
  %li= link_to "Message Board", polymorphic_path([@section.course, Discussion])
  %li= link_to "New Subsection", new_section_subsection_path(@section), class: 'light-purple'
