.row
  .span10.offset1
    - o = !params[:payment].nil? ? "Payments" : "Orders"
    %h1
      Listing
      = o
      = "(#{@orders.count})"
    - if o == "Orders"
      = order_chart current_user
    %p
      = @orders.count
      total
      = o
      for
      = number_to_currency(@sum)
    %table.table.well
      %thead
        %tr
          %th Type
          %th Name
          %th Amount
          %th Token
          %th Created
          %th Completed
      %tbody
        - @orders.each do |order|
          %tr
            %td= order.orderable_type.titleize
            %td= link_to order.orderable.title, order.orderable
            %td= number_to_currency(order.price)
            %td= link_to "Receipt", order
            %td= order.created_at.strftime("%B %d, %Y at %l:%I %P")
            %td= order.paid ? "yes" : "no"
