.row
  .span6.offset3
    %h2
      - #current_user.stripe_customer_id = nil
      Create a New Order for
      = link_to @orderable.title, @orderable
    %p.big
      Payment from
      %b
        = link_to user_display(@order.user), @order.user
      to
      %b= link_to user_display(@orderable.user), @orderable.user
    .well
      %dl.big.dl-horizontal
        %dt Amount
        %dd= number_to_currency(@orderable.price)
    %p
      = coinbase_button @order, current_user
    %br
    - if current_user.stripe_customer_id
      = form_for [@orderable, @order], html: { class: 'form-horizontal' } do |f|
        = f.hidden_field :price, {value: @orderable.price}
        = render partial: "users/card_info"
        = f.submit "Confirm Order", class: 'btn btn-success btn-large'
    - else
      = render partial: "users/card_info"
