.row
  .span6.offset3
    %h2 
      Create a New Order for 
      = link_to @orderable.title, @orderable
    - if current_user.stripe_customer_id
      = form_for [@orderable, @order], html: { class: 'form-horizontal' } do |f| 
        %p.big
          Payment from
          %b
            = link_to user_display(@order.user), @order.user
          to
          %b= link_to user_display(@orderable.user), @orderable.user
        .well
          %dl.big.dl-horizontal
            %dt Amount
            %dd= number_to_currency(@orderable.price)
          = f.hidden_field :price, {value: @orderable.price}
        = render partial: "users/card_info"
        = f.submit "Confirm Order", class: 'btn btn-success btn-large'
    - else
      %dl.big.well.dl-horizontal
        %dt Amount
        %dd= number_to_currency(@orderable.price)
      = render partial: "users/card_info"