.row
  .jumbotron.masthead.span10.offset1
    %h1.brand-text Uludum
    %br
    %h2.light Make Money, Gain Authority, and Share Your Knowledge
    %br
    %h3.light
      Create and sell
      = dynamo_tag :strong, %w{beautiful interactive dynamic awesome living}, center: true
      learning experiences.
    %br
    %p
      - ab_test "demo action", "View", "See", "Check Out" do |action|
        = link_to "#{action} a Demo", "subsections/2159", class: 'btn btn-large btn-success'
    %ul.masthead-links
      %li= link_to "Create a Course", new_course_path
      %li= link_to "Learn about Crowdfunding", funds_path

- cache ["welcome intro section", logged_in?] do

  .break
  .row-fluid
    %h3.text-center Uludum's Story
  .row-fluid
    .span5.offset1
      %blockquote
        %p
          Like many others, I've often been attracted to the lifestyles
          that educators like
          = link_to "Nathan Barry", "http://nathanbarry.com/"
          and
          = link_to "Jarrod Drysdale", "http://studiofellow.com/"
          have earned for themselves by selling their knowledge through
          e-books and other educational content. I wanted to take
          the information I've already acquired and offer it to others in
          a packaged format. Hopefully, I could make some money along the
          way.
        %br
        %p
          I started a blog and began writing about what interested me. After
          a little time, I found that some of my content about Bitcoin had
          been gaining interest. I wanted to be able to run a crowdfund to
          gauge interest in a course, but there wasn't anything out there
          that offered the ability to crowdfund online courses.
        %br
        %p
          So, I built Uludum, the site you're on right now. I successfully
          funded
          = succeed "," do
            = link_to "my first crowdfund", "/funds/2"
          created some courses,
          and have gone on to make thousands of dollars on Uludum.
          It's evolved as I've learned what works and what doesn't work
          when selling courses. I hope I can help you create and sell awesome
          learning experiences on Uludum too!
        %br
        %small
          = succeed "," do
            = link_to "Hank Stoever", "http://hankstoever.com"
          founder of this website
    .span5.offset1
      = image_tag "hank-ski.jpg", style: "height: 490px;"

  .break
  .row.marketing
    %h3 How it Works
  %br
  .row.intro-steps
    .span8.offset2.well
      - how_it_works(1) do
        %h3 Create a Crowdfund
        %p
          Before you actually spend time creating a course, you want to make sure that
          people are willing to pay something for what you might be teaching,
          and a crowdfund is the
          %strong perfect
          way to do that.
        %p
          Spend some time planning out your crowdfund and put together an
          amazing landing page that describes what your course will provide
          in a clear and compelling way. Use videos and pictures to illustrate
          your points and show off your personality.
        %p
          Choose a fundraising goal that would be enough money
          to demonstrate that there is an obvious demand for your course.
          This goal can be as big or small as you'd like, but a typical goal might be
          %strong $1000.
      - how_it_works(2) do
        %h3 Promote your Crowdfund
        %p
          After you publish your crowdfund, it's time to put your marketing
          hat on. Promote your course through your existing social media networks
          and actively grow them. The goal is to get the attention of as many
          potential students as possible. If you're crowdfunding a gardening course,
          you need to get the attention of gardeners.
        %p
          The unfortunate reality is that if you don't tell anyone, no one
          will actually visit your course. Your ability to crowdfund is proportional
          to your ability sell courses!
        %p
          When your crowdfund is completed and you've hit your fundraising goal,
          pat yourself on the back! You've proved that your course is worth building.
          If you don't hit your goal, be thankful that you didn't spend more time
          building a course that wasn't quite right. Take some time to re-think
          your approach and content, and create a new crowdfund when you're ready!
      - how_it_works(3) do
        %h3 Create a Course
        %p
          Organize your course and create material and questions using our platform.
          You can publish and start making money with your course at any time. You can even skip
          right to this step without creating a fund if you really want to get
          your knowledge out there. Feel free to
          = succeed "." do
            = link_to "take a course on creating a course", Course.find_by_id(117)
        %p
          Your course's content can include text, audio, video, pictures and more.
          Ideally, your course should include a diverse range of content that
          provides your students with enough engaging material to maximize
          their learning and the success of your course.
        %p
          You can also embed Youtube videos, math equations, and lessons from
          = succeed "!" do
            = link_to "educreations", "https://www.educreations.com/", target: "_blank"
      - how_it_works 4 do
        %h3 Promote your Course
        %p
          Share your course on relevant communities around the internet and in
          real life to gain students. Keep your material up to date and answer
          student's questions to sustain a high rating. At this point, the
          sky is the limit!
        %p
          You're smart, so there's definitely more that you can teach to the
          world. Think about what other courses you could offer, and head
          back to step 1!
      .row.marketing
        %br
        - if logged_in?
          = link_to "Create a Course", new_course_path, class: 'btn btn-primary btn-large'
        - else
          = link_to "Sign up and Start Teaching", signup_path, class: 'btn btn-primary btn-large'
        %br
        .break

  .break

  .row-fluid.marketing
    .span5.offset1
      %h2 Crowdfundable
      %p
        Teachers can
        = link_to "crowdfund", how_to_fund_path
        their courses before creating them to gauge student's interests. Just like on
        = link_to "kickstarter,", "https://kickstarter.com"
        teachers can set a goal and a minimum donation to enroll in their
        class if it is successfully funded and the course is created.
    .span5
      %h2 Interactive
      %p
        Courses can consist of any sort of material you want, like Youtube videos,
        math equations, and text. Questions are an integral part of the learning
        process, ensuring that students grasp material before moving on.
  %br
  .row-fluid.marketing
    .span5.offset1
      %h2 Open
      %p
        Anyone can create a course. Collaboration is encouraged.
        Even our website is
        = succeed "." do
          = link_to "open source", "https://github.com/hstove/uludum"
    .span5
      %h2 Not for Profit
      %p
        Rest assured that our intentions are the same as yours. We believe
        that education is not an industry that should be influenced by profits.
        Our wealth comes from the spread of information.

- cache ["heynk_sample_courses", 'v4'], expires_in: 1.day do
  - arbitrage = Course.find_by(id: 122) || Course.random
  - rails = Course.find_by(id: 120) || Course.random
  - unless (!arbitrage || !rails) || ((arbitrage.id != 118) || rails.id != 120) && Rails.env.production?
    .break

    .row.marketing
      %h2
        Courses can be about anything!
    %br
    .row-fluid.marketing
      %div.span4.offset2.thumby
        - if arbitrage.banner_url
          = filepicker_image_tag arbitrage.banner_url, w: 500
        %h3= link_to arbitrage.title.titleize, arbitrage
        %h3= arbitrage.price_in_words
        = link_to "View", arbitrage, class: 'btn btn-large enroll-btn'
      %div.span4.thumby
        - if rails.banner_url
          = filepicker_image_tag rails.banner_url, w: 500
        %h3= link_to rails.title.titleize, rails
        %br
        %h3= rails.price_in_words
        = link_to "View", rails, class: 'btn btn-large enroll-btn'

- # marketing chart
= # render partial: "marketing_chart"

.break

= render "features"

.break
.row.marketing
  %br
  %br
  %br
  = link_to "Start Teaching Now", new_user_path, class: 'btn btn-success btn-large'
  %br
  %br
  %br
  %br

.break

= render template: "pages/faq"

:coffeescript
  mixpanel?.track("view home page");
