.row
  .jumbotron.masthead.span10.offset1
    %h1.brand-text uludum
    %br
    %h2.light
      = succeed "," do
        %strong create
      = succeed "," do
        %strong sell
      and
      %strong crowdfund
      dynamic courses.
    %br
    %p= link_to "Become a Teacher", signup_path, class: 'btn btn-large btn-success'
    %ul.masthead-links
      /%li= link_to "Browse Courses", courses_path
      %li= link_to "Create a Course", new_course_path
      /%li= link_to "Request a Course", wishes_path
      %li= link_to "Learn about Crowdfunding", funds_path

- cache ["welcome intro section", logged_in?] do

  .break

  .row-fluid.marketing
    .span5.offset1
      %h2 Crowdfunded
      %p
        Teachers can
        = link_to "crowdfund", how_to_fund_path
        their courses before creating them to gauge student's interests. Just like on
        = link_to "kickstarter,", "https://kickstarter.com"
        teachers can set a goal and a minimum donation to enroll in their class if it is successfully funded and the course is created.
    .span5
      %h2 Interactive
      %p Courses can consist of any sort of material you want, like videos, pictures, and text. Questions are an integral part of the learning process, ensuring that students grasp material before moving on.
  %br
  .row-fluid.marketing
    .span5.offset1
      %h2 Open
      %p
        Anyone can create a free or paid course with the ability to offer preview content and refunds. Collaboration is encouraged. Even our website is
        = succeed "." do
          = link_to "open source", "https://github.com/hstove/uludum"
    .span5
      / %h2 Innovative
      / %p Uludum is built by students who want to make an impact through educating the world. We aren't afraid to break conventions in the process.
      %h2 Not for Profit
      %p Uludum is an incorporated not-for-profit, so you can be assured that our intentions are the same as yours. We believe that education is not an industry that should be influenced by profits. Our wealth comes from the spread of information.
  / %br
  / .row.marketing
  /   - if logged_in?
  /     = link_to "Create a Course", new_course_path, class: 'btn btn-primary btn-large'
  /   - else
  /     = link_to "Sign up to Create a Course", signup_path, class: 'btn btn-primary btn-large'

  .break
  .row.marketing
    %h2 How it Works
  %br
  .row.intro-steps
    .span6.offset3.well
      .row
        .span1
          %span.intro-step 1
        .span5
          %h3 Plan your course
          %p
            Examine your skills and think about what valuable courses you might be able to provide for others. Courses can be about anything from
            - if Rails.env.production?
              - cache ["course_suggestions", Course.find(114), Course.find(106)], expires_in: 1.day do
                - begin
                  = link_to "snowboarding", Course.find(114)
                  to
                  = succeed "." do
                    = link_to "robots", Course.find(106)
                - rescue
                  building a birdhouse to astrophysics.
            - else
              building a birdhouse to astrophysics.
            View
            = link_to "requested courses", wishes_path
            for some ideas.
      .row
        .span1
          %span.intro-step 2
        .span5
          %h3 Create a Fund
          %p
            You will set a funding goal, and when you reach that amount, you will recieve all raised funds after creating your course. You can set a minimum price to be auto-enrolled in the class.
            = link_to "Learn More about Crowdfunding", how_to_fund_path
      .row
        .span1
          %span.intro-step 3
        .span5
          %h3 Create a Course
          %p
            Organize your course and create material and questions using our platform. You can publish and start selling your course at any time. You can skip right to this step without creating a fund if you really want to get your knowledge out there.
            You can even
            = succeed "." do
              = link_to "take a class on creating a course", Course.find_by_id(117)
      .row
        .span1
          %span.intro-step 4
        .span5
          %h3 Promote your Course
          %p Share your course on relevant communities around the internet and in real life to gain students. Keep your material up to date and answer student's questions to sustain a high rating.
      .row.marketing
        %br
        - if logged_in?
          = link_to "Create a Course", new_course_path, class: 'btn btn-primary btn-large'
        - else
          = link_to "Sign up and Start Teaching", signup_path, class: 'btn btn-primary btn-large'

- cache ["heynk_sample_courses", 'v2'] do
  - arbitrage = Course.find_by(id: 118) || Course.random
  - rails = Course.find_by(id: 120) || Course.random
  - unless (!arbitrage || !rails) || ((arbitrage.id != 118) || rails.id != 120) && Rails.env.production?
    .break

    .row.marketing
      %h2
        Courses can be about anything!
    %br
    .row-fluid.marketing
      %div.span4.offset2.thumby
        - if arbitrage.banner_url
          = filepicker_image_tag arbitrage.banner_url, w: 500
        %h3= link_to arbitrage.title.titleize, arbitrage
        %h3= arbitrage.price_in_words
        = link_to "View", arbitrage, class: 'btn btn-large enroll-btn'
      %div.span4.thumby
        - if rails.banner_url
          = filepicker_image_tag rails.banner_url, w: 500
        %h3= link_to rails.title.titleize, rails
        %br
        %h3= rails.price_in_words
        = link_to "View", rails, class: 'btn btn-large enroll-btn'

- # marketing chart
.break
#marketing-chart.row.marketing
  %h4 Check out how we compare to other online learning platforms.
  %table.table.span7.offset2
    %thead
      %tr
        %th
        %th
          %span{'data-toggle' => 'tooltip', title: 'Uludum.org is an incorporated non profit in Seattle, Washington.'} Non-Profit
        %th
          %span{'data-toggle' => 'tooltip', title: 'Teachers can add questions at every step of the way to keep students engaged.'} Questions
        %th
          %span{'data-toggle' => 'tooltip', title: 'Teachers have the choice to offer their courses for free or at any price.'} Premium Courses
        %th
          %span{'data-toggle' => 'tooltip', title: 'Instead of blocking teachers from sharing their knowledge, ratings and reviews keep content quality high.'} Open to All Teachers
        %th
          %span#crowdfund-tip{'data-toggle' => 'tooltip', title: 'Crowdfund your courses, just like projects on Kickstarter and IndieGogo'} Crowdfunding
    %tbody
      %tr
        %td
          %strong Uludum
        %td= icon(:ok)
        %td= icon(:ok)
        %td= icon(:ok)
        %td= icon(:ok)
        %td= icon(:ok)
      %tr
        %td= link_to "Coursera", "http://coursera.org"
        %td
        %td= icon(:ok)
        %td
        %td
        %td
      %tr
        %td= link_to "Udemy", "http://udemy.org"
        %td
        %td= icon(:ok)
        %td= icon(:ok)
        %td= icon(:ok)
        %td
      %tr
        %td= link_to "Udacity", "http://udacity.org"
        %td
        %td= icon(:ok)
        %td
        %td
        %td
      %tr
        %td= link_to "Khan Academy", "http://khanacademy.org"
        %td= icon(:ok)
        %td= icon(:ok)
        %td
        %td
        %td

.break
.row.marketing
  = link_to "Start Teaching Now", new_user_path, class: 'btn btn-success btn-large'

.break
.row.marketing
  %h2
    More Questions? View our
    = succeed "." do
      = link_to "FAQ", page_path(template: 'faq')

- if !logged_in?
  :javascript
    mixpanel.track("view home page");

