= form_for @course, html: { class: 'form-horizontal' } do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  = form_element f, :title, :text_field
  = form_element f, :description, :text_area
  = filepicker_tag f, @course.banner_url, :banner_url, "Banner Image"
  = form_element f, :category_id, :select, nil, categories_options_tag(@course)
  = form_element f, :price, :number_field, "Price (in $usd)"
  = form_element f, :hidden, :check_box, nil, checked: ('checked' if @course.hidden.nil? || @course.hidden)
  = f.hidden_field :teacher_id
  .actions
    = f.submit 'Save', class: 'btn btn-success'
