.span8
  %h1 Courses

  - @courses.each do |c|
    .course-row
      %span.big= link_to c.title.humanize, c
      %span.pull-right
        = c.teacher.username
        - if c.teacher.avatar_url
          = filepicker_image_tag c.teacher.avatar_url, height: 25, fit: 'clip'
      %br
      %br
      %span.small= c.category
      %br
      %br
      %p= c.description.html_safe
      %span.small
        == #{c.sections.count} sections,
        == #{c.subsections.count} subsections,
        == #{c.questions.count} questions
      - if taught? c
        .btn-toolbar
          .btn-group
            = link_to icon(:pencil), edit_course_path(c)
            = link_to icon(:remove), c, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Course', new_course_path

- content_for :sidebar do
  %li.nav-header Categories
  - Course.categories(logged_in?).each do |c|
    %li= link_to "#{c['category']} (#{c['count']})", courses_path(category: c['category']), class: "#{c['category'] == params['category'] ? 'light-purple' : 'white'}"
