%h1 
  Courses
%span.big
  Viewing
  = @courses.to_a.size
  - if params[:search]
    courses found for
    %em= params[:search]
  - elsif !@category.nil?
    courses in
    %em= @category.name.titleize
  - elsif params[:all]
    visible courses
  - else
    courses
.break
- if @courses.empty?
  %h3
    %em Sorry! No courses to show...
- else
  .courses
    - @courses.each do |c|
      - cache_key = ["index_summary", c]
      - cache_key += [current_user, c.percent_complete(current_user)] if logged_in?
      - cache cache_key do
        .course-row
          %span.big= link_to c.title.humanize, c
          %span.pull-right
            = link_to c.teacher.username, c.teacher
            - if c.teacher.avatar_url
              = avatar_tag c.teacher, height: 25, class: 'avatar-small'
            - if enrolled? c
              - p = c.percent_complete(current_user)
              = "#{p}%"
          %br
          %p.small= link_to c.category.name.titleize, category_courses_path(c.category_id)
          .description
            = c.description.html_safe_sanitized
          %span.small
            == #{c.sections.count} sections,
            == #{c.subsections.count} subsections,
            == #{c.questions.count} questions
          %p.pull-right
            %em= c.price_in_words
          - if taught? c
            .btn-toolbar
              .btn-group
                = link_to icon(:pencil), edit_course_path(c)
                = link_to icon(:remove), c, method: :delete, data: { confirm: 'Are you sure?' }

- if logged_in?
  .break
  .btn-group
    - create_link = "Create a Course"
    - create_link << " about #{params[:search].titleize}" if params[:search]
    = link_to create_link + "!", new_course_path, class: 'btn btn-success'

- content_for :sidebar do
  %li.nav-header Categories
  - cache "categories_sidebar", expires_in: 5.minutes do
    - Category.all.each do |cat|
      - if cat.courses.visible.count > 0
        %li= link_to "#{cat.name.titleize} (#{cat.courses.visible.count})", category_courses_path(cat), class: "#{cat.slug == params[:category_id] ? 'light-purple' : 'white'}"
  %li= link_to "Create a Course", new_course_path, class: 'light-purple'