%h1
  = @course.title
%p
  taught by
  = link_to @course.teacher.username, "#", class: 'big'
  in
  = link_to @course.category, courses_path(category: @course.category), class: 'big'
  
- if enrolled? @course
  %span.label Enrolled
- else
  = link_to "Enroll", new_enrollment_path(course_id: @course.id), class: 'btn btn-success'
.break
%p.big
  %strong Description:
  = @course.description.html_safe

.break
%h2 About the Teacher
%h3
  - if @course.teacher.avatar_url
    = filepicker_image_tag @course.teacher.avatar_url, height: 25, fit: 'clip'
  = @course.teacher.username
%p.big
  - if @course.teacher.teacher_description
    = @course.teacher.teacher_description.html_safe
  - else
    %em This teacher has not given any information about themselves

.break

%h2 Sections
= render partial: 'layouts/list', locals: { list: @course.sections }

.break

%h2 Subsections
= render partial: 'layouts/list', locals: { list: @course.subsections }

.break

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path


- content_for :sidebar do
  %li= link_to @course.title, '#', class: 'light-purple'
  %li.nav-header Sections
  - @course.sections.each do |section|
    %li= link_to section.title, section, class: 'white'
  %br
  %br
  %li.active.bottom= link_to "New Section", new_course_section_path(@course)