= form_for @fund, html:{class: 'form-horizontal'} do |f|
  - if @fund.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fund.errors.count, "error")} prohibited this fund from being saved:"
      %ul
        - @fund.errors.full_messages.each do |msg|
          %li= msg
  = form_element f, :title, :text_field
  = form_element f, :body, :text_area, "Description"
  - if @fund.hidden != false || current_user.is_admin?
    = form_element f, :goal, :number_field, "Goal $", placeholder: 100
    = form_element f, :price, :number_field, "Minimum Price $", placeholder: 5
    = form_element f, :goal_date, :datetime_select, "Goal End Date", default: 45.days.from_now.beginning_of_day, ampm: true
  - unless current_user.courses.empty?
    - options = current_user.courses.collect{|c| [c.title, c.id]}
    - options = options_for_select(options, @fund.course_id)
    .field.control-group
      %label.control-label Connected Course
      .controls
        = select "fund", :course_id, options, {include_blank: true}, class: "input-xxlarge"

  .actions
    = f.submit 'Save', class: 'btn btn-success'
