- content_for :sidebar do
  = progress_tag (fund.percent_complete)
  %li.nav-header Goal Details
  %li.big
    Raised
    %strong= number_to_currency(fund.progress)
    out of
    %strong= number_to_currency(fund.goal)
  %br
  %li.big
    - if fund.open?
      ending in
      %strong= fund.time_ending
    - else
      ended
      = time_ago_in_words(fund.goal_date)
      ago

  %br
  - if fund.open?
    %li.big= link_to "Support for <strong>#{number_to_currency(fund.price)}</strong>".html_safe_sanitized, new_fund_order_path(fund), class: 'light-purple'
  - unless fund.updates.blank?
    %li.big= link_to pluralize(fund.updates.count, "Update"), fund_updates_path(fund)
  %li.nav-header= "#{pluralize(fund.backers.uniq(&:id).length, 'backer')}"
  - fund.orders.grouped.each do |order|
    - if order.user_id
      %li
        %a{href: user_path(order.user)}
          = user_display(order.user, nil, '', false) if order.user