.row.marketing
  .span9.offset1
    .break
    %h1 Education, Crowdsourced.
    %br
    %h4 
      Websites like
      = link_to "indiegogo", "http://www.indiegogo.com/"
      and
      = link_to "kickstarter", "https://kickstarter.com"
      are great examples of successful crowdfunding. We're bringing their example to online education.
    %br
    = link_to "Learn More", how_to_fund_path, class: 'btn btn-primary btn-large'

.row.marketing

  .break
  - descript = params[:created] ? "My" : "Recent"
  %h3== #{descript} Funds
  %br
  .span10.offset1
    - @funds.each do |fund|
      .thumby.span4
        %h3= link_to fund.title, fund
        %h5= link_to user_display(fund.user), fund.user
        %div
          = progress_tag fund.percent_complete
        %br
        %h5
          Raised
          .big= number_to_currency(fund.progress)
          out of
          .big= number_to_currency(fund.goal)
        %p= fund.body.html_safe