%h1= @fund.title
%br
.row-fluid
  .span6
    %h4
      Created By
      = link_to user_display(@fund.user), @fund.user

    - if @fund.course && @fund.course.ready?
      %h4
        Crowdfunding
        = link_to @fund.course.title, @fund.course

    - if @fund.open?
      .break

      %h3
        Support for
        = @fund.price.to_money(:usd).format(:display_free => true)
        - if @fund.ready?
          and get instant access to
          = succeed "." do
            = link_to "the course", @fund.course
        - else
          to get access to the course when it's ready.
    - else
      %h3
        This fund ended
        = time_ago_in_words(@fund.goal_date)
        ago.
  - if @fund.open?
    .span6
      %h4.text-center
        Orders Over Time
      = order_chart @fund, 'order-chart-small'

.break

- if logged_in? && @fund.open?
  .div
    = link_to "Pay with Card", new_fund_order_path(@fund), class: 'btn btn-success btn-large'
    - dummy_order = current_user.orders.new
    - dummy_order.orderable = @fund
    = coinbase_button(dummy_order, current_user)
  %br
  - unless @fund.ready?
    %p Your credit card will not be charged until you get access to course materials.
- elsif @fund.open?
  %p You need to create an account to support this fund. It only takes a second!
  %p= link_to "Sign Up", new_user_path, class: "btn btn-large"

- if @fund.hidden != false && can?(:manage, @fund)
  .break
  %em This fund is hidden.
  %br
  - if @fund.user.stripe_key
    = link_to "Make this fund visible", fund_path(@fund, fund: {hidden: false}), method: :patch, class: 'btn btn-primary'
  - else
    %em You need to configure your payment information before making this course visible.
    %br
    %br
    = link_to "Update payment information", payment_path, class: 'btn btn-primary'

.break
= render partial: "users/teacher", locals: { user: @fund.user }

.break
%h3 About this Fund
.big
  = @fund.body.html_safe

.break

= comment_area @fund


- if can? :manage, @fund
  .break
  %h4 Admin Actions
  .btn-group
    = link_to "New Update", new_fund_update_path(@fund), class: "btn"
    = link_to "Edit", edit_fund_path(@fund), class: 'btn'
    - if @fund.hidden == false
      = link_to "Hide", fund_path(@fund, fund: {hidden: true}), method: :patch, class: 'btn'
    = link_to "Delete", @fund, method: :delete, data: {confirm: "Are you sure you want to delete this fund? This action cannot be undone."}, class: 'btn'

  = render partial: "approve_course", locals: { fund: @fund }


= render partial: "sidebar", locals: { fund: @fund }

- content_for :js do
  :javascript
    _gaq.push(['_trackEvent','fund', 'show', '#{@fund.id} - #{escape_javascript(@fund.title)}']);

- t @fund.title.titleize
