%table.table.table-hover.listy-table
  %tbody
    - list.each do |s|
      - if s.class == Section
        %tr
          %td
            .percentage
              = percent_gauge s
          %td
            %h3= link_to s.title.titleize, s, "data-section" => s.title
          %td
            = link_to icon("chevron-down", false, "data-section" => s.title), "#"

        - s.subsections.each_with_index do |sub, i|
          %tr{"data-section" => s.title}
            %td.small.dark-gray
              .percentage
                = percent_gauge sub
            %td.title.sub-title
              %h4= link_to sub.title.titleize, sub
            %td
              - unless sub.questions.empty?
                = sub.questions.count
                = icon('question-sign')
              - if can? :manage, sub
                = link_to icon(:pencil), edit_subsection_path(sub)

      - elsif s.class == Subsection
        %tr
          %td.small.dark-gray
            .percentage
              = percent_gauge s
          %td.title
            %h4= link_to s.title.titleize, s
          %td
            - unless s.questions.empty?
              = s.questions.count
              = icon('question-sign')
            - if can? :manage, s
              = link_to icon(:pencil), edit_subsection_path(s)