!!!
%html

  %head
    %title Uludum
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Junge","http://fonts.googleapis.com/css?family=Lato:300,400,700", "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)

  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container{style: "width: auto; padding: 0 20px;"}
          %a.brand{href: courses_path} uludum
          %ul.nav
            - if current_user
              %li= link_to current_user.username, edit_current_user_path
              %li= link_to "Sign Out", logout_path
            - else
              %li= link_to "Log In", new_session_path
              %li= link_to "Sign Up", signup_path
    #container

      .row.main
        .span3#sidebar
          %ul.nav.nav-list
            = yield :sidebar
              
        .span9.content
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", class: 'alert alert-success'
          = yield

