!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Uludum Learning Organization
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: "google-site-verification", content: "EjIVhsfmrVTem2HYLNnWVSfLFVFeARes4YWGJg8NZm8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700", "https://fonts.googleapis.com/css?family=Roboto:300italic,300,500,500italic,700italic,700", "application"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)
    - if content_for? :canonical
      %link{rel: 'canonical', href: "https://www.uludum.org#{yield(:canonical)}"}

  %body
    .container.page-container
      .navbar
        .navbar-inner
          .container.nav-container
            %a.brand.brand-text{href: "/"} uludum
            %ul.nav
              - if current_user
                %li.dropdown
                  = link_to user_display(current_user, nil, "<b class='caret'></b>".html_safe).html_safe, user_path(current_user), class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
                  %ul.dropdown-menu{role: 'menu'}
                    %li.dropdown-submenu
                      = link_to "My Courses", courses_path(enrolled: true), tabindex: "-1"
                      %ul.dropdown-menu
                        - current_user.enrolled_in.each do |c|
                          %li=link_to c.title.titleize, c

                    %li.dropdown-submenu
                      = link_to "My Taught Courses", courses_path(taught: true)
                      %ul.dropdown-menu
                        - current_user.courses.each do |c|
                          %li=link_to c.title.titleize, c if c.title
                        %li.light-purple= link_to "Create a Course", new_course_path
                    %li.dropdown-submenu
                      = link_to "My Funds", funds_path(created: true)
                      %ul.dropdown-menu
                        - current_user.funds.each do |f|
                          %li=link_to f.title.titleize, f if f.title
                        %li.light-purple= link_to "Create a Fund", new_fund_path
                    %li.divider
                    %li= link_to "My Orders", orders_path
                    %li= link_to "My Payments", orders_path(payment: true)
                    %li= link_to "Payment Information", payment_path
                    %li.divider
                    %li= link_to "View Profile", user_path(current_user)
                    %li= link_to "Edit Profile", edit_user_path(current_user)
                    %li= link_to "Sign Out", logout_path
                    - if is_admin?
                      %li.divider
                      %li= link_to "Dashboard", admin_path(action: 'dashboard')
                      %li= link_to "Growth", admin_path(action: 'growth')
                = nav_link "Request", wishes_path, "wishes"
              - else
                %li= link_to "Log In", new_session_path(return_to: request.fullpath)
                %li= link_to "Sign Up", signup_path
              = nav_link "Browse", courses_path, "courses"
              = nav_link "Fund", funds_path, "funds"

            - cache "header_search_bar" do
              = form_tag courses_path, class: 'navbar-search pull-right', method: 'get' do
                = text_field_tag :search, params[:search], placeholder: %w{economics physics robotics chemistry healthcare medicine}.sample
                = submit_tag "Search", class: 'btn'

      #container
        - if content_for? :sidebar
          .row.main
            - if @subsection
              = render partial: "layouts/toggle_sidebar"
            .span3#sidebar
              %ul.nav.nav-list
                - if current_course && enrolled?(current_course)
                  = progress
                = yield :sidebar
            - row_size = @subsection ? "12" : "9"
            .content{class: "span#{row_size}"}
              = render "layouts/alert_block"
              = yield
              .break
        - else
          .content
            = render "layouts/alert_block"
            = yield

      .break
      - cache "footer" do
        %ul#footer.nav-pills
          %li= link_to "FAQ", page_path(template: 'faq')
          %li= link_to "Terms of Service", page_path(template: 'terms')
          %li
            = link_to "Github", "https://github.com/hstove/uludum", target: "_blank"
          %li
            = link_to "Blog", "http://blog.uludum.org", target: "_blank"
          %li © Uludum Learning Organization
    - cache "utensil_modal" do
      = render partial: 'utensil/modal'
    = javascript_include_tag "//api.filepicker.io/v1/filepicker.js", "application"
    - if true#Rails.env.production?
      = analytics_init
      - if current_user
        :javascript
          filepicker.setKey('#{ENV['FILEPICKER_KEY']}');
          $(document).ready(function(){
            if (typeof mixpanel != "undefined") {
              mixpanel.name_tag('#{current_user.email}');
            }
          });
          var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
          heap.load("3019527896");
    = yield :js
    - unless session[:ga_events].nil?
      - session[:ga_events].each do |event|
        :javascript
          _gaq.push(['_trackEvent',
            '#{ j(event[:category]) }',
            '#{ j(event[:action]) }',
            '#{ j(event[:label]) }'
            #{ ", #{event[:value].to_f}" if event[:value] }
            ]);
          if (typeof mixpanel !== "undefined") {
            mixpanel.track("#{j(event[:category])} #{j(event[:action])}");
          }
      - session[:ga_events] = nil
