!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Uludum Learning Organization
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700", "http://fonts.googleapis.com/css?family=Roboto:300italic,300,500,500italic,700italic,700", "application", "/assets/bootstrap-wysihtml5/index.css", "/assets/bootstrap-wysihtml5/core.css"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)

  %body
    .container.page-container
      .navbar
        .navbar-inner
          .container.nav-container
            %a.brand.brand-text{href: "/"} uludum
            %ul.nav
              - if current_user
                %li.dropdown
                  = link_to user_display(current_user, nil, "<b class='caret'></b>".html_safe).html_safe, user_path(current_user), class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
                  %ul.dropdown-menu{role: 'menu'}
                    %li.dropdown-submenu
                      = link_to "My Courses", courses_path(enrolled: true), tabindex: "-1"
                      %ul.dropdown-menu
                        - current_user.enrolled_in.each do |c|
                          %li=link_to c.title, c

                    %li.dropdown-submenu
                      = link_to "My Taught Courses", courses_path(taught: true)
                      %ul.dropdown-menu
                        - current_user.courses.each do |c|
                          %li=link_to c.title, c
                        %li.light-purple= link_to "Create a Course", new_course_path
                    %li.dropdown-submenu
                      = link_to "My Funds", funds_path(created: true)
                      %ul.dropdown-menu
                        - current_user.funds.each do |f|
                          %li=link_to f.title, f
                        %li.light-purple= link_to "Create a Fund", new_fund_path
                    %li.divider
                    %li= link_to "My Orders", orders_path
                    %li= link_to "My Payments", orders_path(payment: true)
                    %li= link_to "Payment Information", payment_path
                    %li.divider
                    %li= link_to "View Profile", user_path(current_user)
                    %li= link_to "Edit Profile", edit_user_path(current_user)
                    %li= link_to "Sign Out", logout_path
              - else
                %li= link_to "Log In", new_session_path(return_to: request.fullpath)
                / %li= link_to "Sign Up", signup_path
              %li= link_to "Browse", courses_path
              %li= link_to "Request", wishes_path
              %li= link_to "Fund", funds_path

            = form_tag courses_path, class: 'navbar-search pull-right', method: 'get' do
              = text_field_tag :search, params[:search], placeholder: %w{economics physics robotics chemistry healthcare medicine}.sample
              = submit_tag "Search", class: 'btn'

      #container
        - if content_for? :sidebar
          .row.main
            - row_size = "12"
            .span3#sidebar
              %ul.nav.nav-list
                - if current_course && enrolled?(current_course)
                  = progress
                = yield :sidebar
            - row_size = "9"
            .content{class: "span#{row_size}"}
              = render "layouts/alert_block"
              = yield
              .break
        - else
          .content
            = render "layouts/alert_block"
            = yield

      .break
      %ul#footer.nav-pills
        %li= link_to "About", page_path(template: 'about')
        %li= link_to "Create a Course", new_course_path
        %li © Uludum Learning Organization

    = render partial: 'utensil/modal'
    = javascript_include_tag "//api.filepicker.io/v1/filepicker.js", "application"
    - if Rails.env.production?
      = analytics_init
      - if current_user
        :javascript
          mixpanel.identify('#{current_user.id}');
          mixpanel.people.set({
            $email: "#{current_user.email}",
            $created: "#{current_user.created_at}",
            $username: "#{current_user.username}"
          })

