%head
  %link{rel: :stylesheet, type: "text/css", href: "/assets/application.css"}
%body.email
  / .row
  /   .span4.email-header
  /     = logo_tag 40, class: 'email-logo'
  /     %h1.email-brand= link_to :Uludum, root_url
  / %br
  / %br
  / %br
  .row
    .page-container

      %p
        Hello
        = succeed "," do
          - if @user.nil? || @user.username.nil?
            = message.to.first
          - else
            = @user.username

      = yield

      - unless @order.nil?
        - if @order.user == @user
          %p= link_to "View all orders", orders_url, class: 'btn btn-primary'
        - if @order.orderable.user == @user
          %p= link_to "View all payments", orders_url(payments: true), class: 'btn btn-primary'
        
        %p= link_to "Official Receipt", polymorphic_url([@order.orderable, @order]), class: 'btn btn-primary'

      %p Love,
      %p
        = link_to "Uludum", root_url
        staff

      %br

      %p
        = link_to "Uludum", root_url
        is a platform for online education. Create, crowdfund, and enroll in courses today.
        
  = tracking_pixel message