%head
  %link{rel: :stylesheet, type: "text/css", href: "/assets/application.css"}
%body.email
  .row
    .span4.email-header
      = image_tag asset_url("star750.png"), height: 40, width: 40, class: 'email-logo'
      %h1.email-brand= link_to :Uludum, root_url
  %br
  %br
  %br
  .row
    .span4.page-container

      %p
        Hello
        = succeed "," do
          = @user.username

      = yield

      - unless @order.nil?
        - if @order.user == @user
          %p= link_to "View all orders", orders_url, class: 'btn btn-primary'
        - if @order.orderable.user == @user
          %p= link_to "View all payments", orders_url(payments: true), class: 'btn btn-primary'
        
        %p= link_to "Official Receipt", polymorphic_url([@order.orderable, @order]), class: 'btn btn-primary'

      %p Love,
      %p
        = link_to "Uludum", root_url
        staff

  - if Rails.env.production?
    = tracking_pixel message